header {
  margin-top: 6px;
  margin-bottom: 2em;

  h1 {
    display: inline-block;
    color: #eee;
    background-color: #333;
    padding: 3px 12px;
    border-radius: 4px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}
