<header class="container-fluid">
  <div class="row align-items-center">

    <div class="col-md-3">
      <div style="display: flex; flex-direction: column; align-items: baseline;">
        <h1>Stock Assistant</h1>
        <small>
          <a target="_blank" style="display: block; padding-left: 1.1em" href="https://iexcloud.io">Data provided by IEX Cloud</a>
        </small>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
      <app-symbol-search></app-symbol-search>
    </div>

    <nav class="nav col-md-3 justify-content-end align-items-center">
      <p *ngIf="us.isAuthenticated">{{ us.currentUser?.email }}</p>
      <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
      <li class="nav-item" *ngIf="us.isAuthenticated"><a class="nav-link" (click)="us.logout()">Logout</a></li>
      <li class="nav-item" *ngIf="!us.isAuthenticated"><a routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-item" *ngIf="!us.isAuthenticated"><a routerLink="/login/sign-up" class="nav-link">Sign Up</a></li>
    </nav>

  </div>
</header>
