<div class="justify-content-center">
  <!-- <input (keyup)="handleKeyUp($event)" class="form-control" type="text" id="" placeholder="Search symbols..."  /> -->
  <ng-select
    [items]="symbols"
    bindLabel="symbol"
    bindValue="id"
    (search)="searchSymbol($event)"
    (change)="selectSymbol($event)"
    [loading]="selectLoading"
    [(ngModel)]='chosenSymbol'
  >
    <ng-template ng-option-tmp let-item="item">
      {{item.symbol}} <br/>
      <small>{{item.name}}</small>
    </ng-template>
  </ng-select>
</div>
