/* You can add global styles to this file, and also import other style files */
$primary: #dc3545;

@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #ededed;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1420px;
  }
}
