/* You can add global styles to this file, and also import other style files */
// $primary: #dc3545;
$primary: #363636;
$green: rgb(30, 107, 15);

@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1420px;
  }
}
